.head{
    display: flex;
    background-color:rgb(26, 26, 40);
}

.headnav a {
    color: white;
}

.felex{
    margin-right: 30px;
}
.hom{
    margin: 0px 200px ;
}

.about{
    margin: 0px 100px;
}

.staff{
    margin: 0px 100px;
}

.cont{
    margin: 0px 100px;
}

/* The hover effect */
.felex:hover{
    background-color: yellowgreen;
    color: black;
    border-radius: 5px;
}

.hom:hover{
    background-color: yellowgreen;
    color: black;
    border-radius: 5px;
}

.about:hover{
    background-color: yellowgreen;
    color: black;
    border-radius: 5px;
}

.staff:hover{
    background-color: yellowgreen;
    color: black;
    border-radius: 5px;
}

.cont:hover{
    background-color: yellowgreen;
    color: black;
    border-radius: 5px;
}

.banner{
    background-image: url(../imagesfolder/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
    }

.second{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}    

.div1{
    width: 30%;
    background-color: rgb(210, 207, 207);
}
.div2{
    width: 30%;
    background-color: rgb(210, 207, 207);
}
.div3{
    width: 30%;
    background-color: rgb(210, 207, 207);
}
.img1{
    width: 300px;
    height: 300px;
    margin-left: 50px; 
}

.abot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.abot p{
    margin-top: 60px;
    margin-right: 80px;
}

.img2{
    width: 500px;
    height: 300px;
}

.both{
    background-color: ;
}

.staffdiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    background-color: rgb(125, 123, 123);
}

.img3{
    width: 100%;
    height: auto;
}

.parablue{
    color: blue;
    font-size: 60px;
    text-align: center;
}

.p1{
    position: absolute;
}

.div4{
    margin-top: 70px;
    display: flex;
}

.div5{
    font-size: 30px;
}

.img4{
    width: 500px;
    height: 700px;
}

html{
    scroll-behavior: smooth;
}